AppSpotifyWPF/.vs
AppSpotifyWPF/AppSpotifyWPF/.vs
AppSpotifyWPF/.vs
AppSpotifyWPF/.vs
Frontend/AppSpotifyWPF/.vs/AppSpotifyWPF/v17/.suo
Frontend/AppSpotifyWPF/.vs/AppSpotifyWPF/v17/DocumentLayout.backup.json
Frontend/AppSpotifyWPF/.vs/AppSpotifyWPF/v17/DocumentLayout.json
